name: Build Kotlin Project

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'
        
    - name: Create Gradle Wrapper
      run: |
        # Gradle wrapper létrehozása
        gradle wrapper --gradle-version 7.5
        
    - name: Build with Gradle
      run: ./gradlew build --no-daemon
